<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>be.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
				<key>dateExpires</key>
				<string>22.01.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PusherSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_absolute_path.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_email_sender.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pusher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_restart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_sms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_user_agent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>system_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C33B54BB25B19851E4EC7D2E35729817DA22AB70</string>
						<key>dateExpires</key>
						<string>22.01.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HVFRQFH4J2</string>
						<key>name</key>
						<string>Thomas Garrahan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HVFRQFH4J2.com.cards.be</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:livecontact10.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>HVFRQFH4J2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5093d9bd-128d-4303-be19-aefd5a088c84</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cards.be</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HVFRQFH4J2</string>
				<key>name</key>
				<string>Thomas Garrahan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
